<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Gate Pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list-core">
    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>
      
    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>
    
    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="bookmark-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Pass GP1241 | 912841</h4>
        <p>29/02/2020</p>
        <ion-badge color="danger">On-hold</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
