<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>ZB Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="list-core">
    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>
      
    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>
    
    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>

    <ion-item class="item-core" lines="none">
      <ion-icon name="document-text-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>Form X124 | 4124124</h4>
        <p>21/02/2020</p>
        <ion-badge color="danger">In progress</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
