<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>ZB1 Form Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/core/office/zb-form"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-item class="item-core" lines="none">
      <ion-icon name="information-circle-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>F1-00561</h4>
        <p>05/04/2020</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-wrap ion-text-right">
        <ion-badge color="success">Approved</ion-badge>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="ios">
    <ion-item class="item-core" lines="none">
      <ion-icon name="information-circle-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>F1-00561</h4>
        <p>22/03/2020</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-wrap ion-text-right">
        <ion-badge color="warning">In progress</ion-badge>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card mode="ios">
    <ion-item class="item-core" lines="none">
      <ion-icon name="information-circle-outline" slot="start" color="primary" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h4>F1-00561</h4>
        <p>01/02/2020</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-wrap ion-text-right">
        <ion-badge color="danger">On hold</ion-badge>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
