<nav
  id="navbar-main"
  class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark bg-secondary"
>
  <div class="container">
    <a style="cursor: pointer;" (click)="navigatePage('landing_page')">
      <img src="assets/img/logo/pkfz-logo2.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse navbar-custom-collapse collapse"
      id="collapseBasic"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a (click)="navigatePage('home')">
              <img src="assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-controls="navbar-collapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span> <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item" style="cursor: pointer;">
          <a
            class="nav-link text-dark"
            routerLinkActive="active"
            style="cursor: pointer;"
            (click)="navigatePage('user-dashboard')"
          >
            <span class="nav-link-inner--text">Dashboard</span>
          </a>
        </li> -->
        <li class="nav-item" style="cursor: pointer;">
          <a
            class="nav-link text-dark"
            routerLinkActive="active"
            style="cursor: pointer;"
            (click)="navigatePage('home')"
          >
            <span class="nav-link-inner--text">Menu Utama</span>
          </a>
        </li>
        <!-- <li class="nav-item" style="cursor: pointer;">
          <a
            class="nav-link text-dark"
            routerLinkActive="active"
            style="cursor: pointer;"
            (click)="navigatePage('faq')"
          >
            <span class="nav-link-inner--text">FAQ</span>
          </a>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a
            class="nav-link text-dark"
            routerLinkActive="active"
            style="cursor: pointer;"
            (click)="navigatePage('about-us')"
          >
            <span class="nav-link-inner--text">About US</span>
          </a>
        </li> -->

        <li class="nav-item" style="cursor: pointer;">
          <div class="dropdown" dropdown>
            <a
              class="nav-link text-dark"
              href="javascript:void(0)"
              id="navbarDropdownMenuLink2"
              dropdownToggle
            >
              <span>Register</span>
            </a>
            <ul
              aria-labelledby="navbarDropdownMenuLink2"
              *dropdownMenu
              class="dropdown-menu"
            >
              <li>
                <a
                  style="cursor: pointer;"
                  class="dropdown-item active"
                  (click)="navigatePage('tenant')"
                >
                  Tenant
                </a>
              </li>

              <li>
                <a
                  style="cursor: pointer;"
                  class="dropdown-item"
                  (click)="navigatePage('agent')"
                >
                  Agent
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item" style="cursor: pointer;">
          <a
            class="nav-link text-dark"
            routerLinkActive="active"
            style="cursor: pointer;"
            (click)="navigatePage('refund')"
          >
            <span class="nav-link-inner--text">Refund</span>
          </a>
        </li> -->
        <!-- <li class="nav-item" style="cursor: pointer;">
          <a
            class="nav-link text-dark"
            routerLinkActive="active"
            style="cursor: pointer;"
            (click)="navigatePage('complaint')"
          >
            <span class="nav-link-inner--text">Complaint</span>
          </a>
        </li> -->
      </ul>
      <hr class="d-lg-none" />
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="#"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square text-cyan"></i>
            <span class="nav-link-inner--text d-lg-none text-dark"
              >Facebook</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="#"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram text-pink"></i>
            <span class="nav-link-inner--text d-lg-none text-dark"
              >Instagram</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link nav-link-icon"
            href="#"
            target="_blank"
            tooltip="Follow us on Twitter"
          >
            <i class="fab fa-twitter-square text-blue"></i>
            <span class="nav-link-inner--text d-lg-none text-dark"
              >Twitter</span
            >
          </a>
        </li>
        <li class="nav-item">
          <div class="dropdown" dropdown>
            <a
              href="javascript:void(0)"
              id="navbarDropdownMenuLink2"
              dropdownToggle
            >
              <img
                width="17px"
                height="15px"
                src="assets/img/icons/flags/MY.png"
              />
            </a>
            <ul
              aria-labelledby="navbarDropdownMenuLink2"
              *dropdownMenu
              class="dropdown-menu"
            >
              <li>
                <a class="dropdown-item" href="javascript:void(0)">
                  <img
                    width="17px"
                    height="15px"
                    src="assets/img/icons/flags/GB.png"
                  />
                  EN
                </a>
              </li>
              <li>
                <a class="dropdown-item active" href="javascript:void(0)">
                  <img
                    width="17px"
                    height="15px"
                    src="assets/img/icons/flags/MY.png"
                  />
                  BM
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item d-none text-white d-lg-block ml-lg-4">
          <a (click)="navigatePage('login')" style="cursor: pointer;">
            <span class="btn-inner--icon">
              <i class="fas fa-user text-dark"></i>
            </span>
            <span class="nav-link-inner--text text-dark"
              >&nbsp;&nbsp;Login</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main-content">
  <!-- Header -->
  <carousel>
    <slide>
      <img
        src="assets/img/default/port2.png"
        alt="first slide"
        style="display: block; width: 100%; height: 500px;"
      />
    </slide>
    <slide>
      <img
        src="assets/img/default/port1.png"
        alt="second slide"
        style="display: block; width: 100%; height: 500px;"
      />
    </slide>
  </carousel>
  <!-- <div
    class="header bg-secondary pt-7 pb-7"
    style="
      background-image: url('../../../../assets/img/default/bg-img22.png');
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    "
  >
    <div class="container mt-5 mb-5">
      <div class="header-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <span class="text-center px-4">
              <img
                width="100%"
                height="300px"
                src="assets/img/icons/cards/search2.svg"
              />
            </span>
            <br /><br />
            <div class="ng-autocomplete pb-5">
              <ng-autocomplete
                [data]="data"
                [searchKeyword]="keyword"
                (selected)="selectEvent($event)"
                (inputChanged)="onChangeSearch($event)"
                (inputFocused)="onFocused($event)"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <section
    class="section section-lg pt-lg-0 pt-3"
    style="background-color: #67af09; background: #67af09;"
  >
    <div class="container">
      <div class="row justify-content-center pt-7 pb-3">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <img src="assets/img/default/font1.jpg" />
                <div class="card-footer text-black bg-transparent">
                  <h3>Investment Incentives</h3>
                  <br />
                  <p>
                    Besides assisting investors to obtain the approvals for
                    their building, PKFZ also assists investors to obtain
                    various incentives from the relevant government authorities.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <img src="assets/img/default/font2.jpg" />
                <div class="card-footer text-black bg-transparent">
                  <h3>Growing Your Business</h3>
                  <br />
                  <p>
                    Port Klang Free Zone (PKFZ) in Port Klang, Malaysia,
                    represents an ideal investment for companies intending to
                    set up or expand their business operations in South East
                    Asia.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <img src="assets/img/default/font3.jpg" />
                <div class="card-footer text-black bg-transparent">
                  <h3>Connect With Ease</h3>
                  <br />
                  <p>
                    As Malaysia’s premier maritime gateway, PKFZ connects you to
                    over 120 countries and 500 ports around the world. It is
                    your complete logistics link to the world.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<footer class="py-5 bg-secondary" id="footer-main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-dark">
        <span style="font-size: large; font-weight: bold;">Hubungi Kami</span>
        <br /><br />
        <span
          ><i class="fas fa-envelope text-yellow"></i>&nbsp;&nbsp;
          info@pkfz.com</span
        ><br />
        <span
          ><i class="fas fa-phone text-brown"></i>&nbsp;&nbsp;Tel: +603 3101
          5568</span
        ><br />
        <span
          ><i class="fas fa-phone text-brown"></i>&nbsp;&nbsp;Fax: +603 3101
          2206</span
        >
      </div>
      <div class="col-md-4 text-dark">
        <span style="font-size: large; font-weight: bold;">Waktu Operasi </span>
        <br /><br />
        <span>Days: Monday – Saturday</span><br />
        <span>Operation Hour: 8am – 4am</span>
        <br /><br />
        <span>Days: Sunday</span><br />
        <span>Operation Hour: 8am – 4pm</span>
      </div>
      <div class="col-md-4 text-dark">
        <span style="font-size: large; font-weight: bold;">Alamat</span>
        <br /><br />
        <span>
          <i class="fas fa-map-marker-alt text-danger"></i>&nbsp;&nbsp;Pejabat
          Port Klang Free Zone Sdn Bhd<br />
          Jalan FZ2-P5/KS 12<br />
          Port Klang Free Zone<br />
          42920 Pulau Indah<br />
          Selangor Darul Ehsan
        </span>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }}
          <a href="#" class="font-weight-bold ml-1" target="_blank">PKFZ</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-xl-end"
        >
          <li class="nav-item" style="cursor: pointer;">
            <a
              class="nav-link text-dark"
              routerLinkActive="active"
              style="cursor: pointer;"
            >
              <span class="nav-link-inner--text">FAQ</span>
            </a>
          </li>

          <li class="nav-item" style="cursor: pointer;">
            <a href="#" class="nav-link" target="_blank">About Us</a>
          </li>
          <!-- <li class="nav-item" style="cursor: pointer;">
            <a
              href="http://blog.creative-tim.com?ref=adpa-presentation-page"
              class="nav-link"
              target="_blank"
              >Disclaimer</a
            >
          </li> -->
          <!-- <li class="nav-item">
            <a
              href="https://www.creative-tim.com/license?ref=adpa-presentation-page"
              class="nav-link"
              target="_blank"
              >License</a
            >
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
